h1 {
  text-align: center;
  color: #E3691E;
}

h2 {
  text-align: center;
   color: #FA902D;
}

h3 {
border-color: #ffcc88;
  border-width: 4px;
  border-radius: 14px;
}
a:link {
     color: #31BD2A;
}
a:visited {
     color: #00752B;
}
body {
  padding-right: 40px;
  padding-left: 40px;
  font-family: Georgia, serif, Didot, serif, sans-serif;
}
.responsive {
  width: 100%;
  height: auto;
}
