h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
border-color: #ffcc88;
  border-width: 4px;
  border-radius: 14px;
}
a:link {
     color: #31BD2A;
}
a:visited {
     color: #00752B;
}
body {
  margin: 1px;
}
